
{% extends 'template.html' %}

{% block title %}Historia{% endblock %}

{% block content %}
    <h3>Historia</h3>

    {% if data %}
        <table>
            <tr>
                <th>Data i czas</th>
                <th>Zwierzę</th>
                <th>Urządzenie</th>
                <th>Zdarzenie</th>
            </tr>
            {% for item in data %}
                <tr>
                    <td>{{ item['datetime'] }}</td>
                    <td>{{ item['pet'] if item['pet'] else 'APP' }}</td>
                    <td>{{ item['device'] }}</td>
                    <td>{{ item['event'] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Brak zdarzeń do wyświetlenia.</p>
    {% endif %}
{% endblock %}